@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 27% 95%;
    --foreground: 24 7% 36%;

    --card: 39 27% 95%;
    --card-foreground: 24 7% 36%;

    --popover: 39 27% 95%;
    --popover-foreground: 24 7% 36%;

    --primary: 24 7% 36%;
    --primary-foreground: 39 27% 95%;

    --secondary: 27 24% 86%;
    --secondary-foreground: 24 7% 36%;

    --muted: 27 24% 86%;
    --muted-foreground: 24 5% 64%;

    --accent: 27 24% 86%;
    --accent-foreground: 24 7% 36%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 39 27% 95%;

    --border: 27 24% 86%;
    --input: 27 24% 86%;
    --ring: 24 7% 36%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 24 7% 36%;
    --foreground: 39 27% 95%;

    --card: 24 7% 36%;
    --card-foreground: 39 27% 95%;

    --popover: 24 7% 36%;
    --popover-foreground: 39 27% 95%;

    --primary: 39 27% 95%;
    --primary-foreground: 24 7% 36%;

    --secondary: 27 24% 86%;
    --secondary-foreground: 24 7% 36%;

    --muted: 27 24% 86%;
    --muted-foreground: 24 5% 64%;

    --accent: 27 24% 86%;
    --accent-foreground: 24 7% 36%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 39 27% 95%;

    --border: 27 24% 86%;
    --input: 27 24% 86%;
    --ring: 39 27% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
